# dependencies
node_modules

# build output
dist
dist-ssr
build
.turbo
*.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# test & coverage
coverage
.nyc_output
__screenshots__/

# env
.env
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# temp
.temp
.tmp
*.local
.eslintcache

# runtime
pids
*.pid
*.seed
*.pid.lock

# prisma
apps/backend/generated/prisma

# editor backups
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# e2e artifacts
/cypress/videos/
/cypress/screenshots/
